<?xml version="1.0" encoding="utf-8"?>
<manifest t:tag="+" xmlns:t="http://androidtransfuse.org" xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.androidtransfuse.examples.dosug" android:versionCode="1" android:versionName="1.0">
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application t:tag="+,i,n" android:icon="@drawable/icon" android:name=".VotingApplicationApplication">
        <activity t:tag="+,l,n" android:label="Robot Voting Booth" android:name=".VoteActivity">
            <intent-filter t:tag="+">
                <action t:tag="+,n" android:name="android.intent.action.MAIN"/>
                <category t:tag="+,n" android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity t:tag="+,n" android:name=".VotingResultsActivity"/>
    </application>
    <uses-sdk android:minSdkVersion="3" android:targetSdkVersion="11"/>
</manifest>